@import './components/styleConstants.scss';
.App * {
  box-sizing: border-box;
}
.App {
  min-height: 100%;
  background-color: $backColor;
  display: flex;
  flex-direction: column;
    &Dark {
    @include darkApp;
  }
}



