@import '../styleConstants.scss';
.modal {
    z-index: 3;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
}

.modalActive {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 80vh;
    // max-width: 75vw;
    padding: 2rem;
    border-radius: 1rem;
    background-color: $backColor;
    &Dark{
        @include darkApp;
    }
}

.modal__close {
    position: absolute;
    top: -0.5rem;
    right: 1rem;
    color: $elementDarkColor;
    font-size: 3rem;
    
}