@import '../styleConstants.scss';
.header {
    // grid-area: header;
    z-index: $headerFooterZ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: $elementColor;
    margin-top: 0.5rem;
    border-bottom: 0.1rem solid $elementBorderColor;
    padding: 0.5rem 0;
    &Dark {
        @include darkContent;
    }
    @include mediaPadding;
}