$backColor: #dfdede;
$elementColor: #eeeeee;
$elementBorderColor: #d0cece;

$headerFooterZ: 1;

$contentBorderRadius: 0.5rem;

$contentLeftRightPaddingExtraSmall: 1rem;
$contentLeftRightPaddingSmall: 2rem;
$contentLeftRightPaddingMiddle: 3rem;
$contentLeftRightPaddingLarge: 4rem;
$contentLeftRightPaddingExtraLarge: 5rem;

@mixin darkApp {
    background-color: #273139;
}

@mixin darkContent {
    color: #e4e6e7;
    background-color: #35424B;
    border-color: #384248;
}

@mixin mediaPadding {
    @media (max-width: 575px) { 
        padding-left: $contentLeftRightPaddingExtraSmall;
        padding-right: $contentLeftRightPaddingExtraSmall;
    } 
    @media (min-width: 576px) and (max-width: 767px) {
        padding-left: $contentLeftRightPaddingSmall;
        padding-right: $contentLeftRightPaddingSmall;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        padding-left: $contentLeftRightPaddingMiddle;
        padding-right: $contentLeftRightPaddingMiddle;
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        padding-left: $contentLeftRightPaddingLarge;
        padding-right: $contentLeftRightPaddingLarge;
    } 
    @media (min-width: 1200px) {
        padding-left: $contentLeftRightPaddingExtraLarge;
        padding-right: $contentLeftRightPaddingExtraLarge;
    } 
}

$cardWidthExtraSmall: 85vw;
$cardWidthSmall: 33vw;
$cardWidthMiddle: 35vw;;
$cardWidthLarge: 23vw;
$cardWidthExtraLarge: 23vw;
$cardHeightExtraSmall: 380px;
$cardHeightSmall: 340px;
$cardHeightMiddle: 300px;
$cardHeightLarge: 245px;
$cardHeightExtraLarge: 245px;

@mixin mediaSizeCards {
    @media (max-width: 576px) { 
        width: $cardWidthExtraSmall;
        height: $cardHeightExtraSmall;
    } 
    @media (min-width: 576px) and (max-width: 768px) {
        width: $cardWidthSmall;
       height: $cardHeightSmall;
    }
    @media (min-width: 768px) and (max-width: 992px) {
        width: $cardWidthMiddle;
       height: $cardHeightMiddle;

    }
    @media (min-width: 992px) and (max-width: 1200px) {
        width: $cardWidthLarge;
       height: $cardHeightLarge;
    } 
    @media (min-width: 1200px) {
        width: $cardWidthExtraLarge;
       height: $cardHeightExtraLarge;
    }
}

$imgWidthExtraSmall: 100%;
$imgWidthSmall: 100%;
$imgWidthMiddle: 100%;
$imgWidthLarge: 100%;
$imgWidthExtraLarge: 100%;
$imgHeightExtraSmall: 70%;
$imgHeightSmall: 70%;
$imgHeightMiddle: 70%;
$imgHeightLarge: 70%;
$imgHeightExtraLarge: 70%;

@mixin mediaSizeImg {
    @media (max-width: 576px) { 
        width: $imgWidthExtraSmall;
        height: $imgHeightExtraSmall;
    } 
    @media (min-width: 576px) and (max-width: 768px) {
        width: $imgWidthSmall;
       height: $imgHeightSmall;
    }
    @media (min-width: 768px) and (max-width: 992px) {
        width: $imgWidthMiddle;
       height: $imgHeightMiddle;

    }
    @media (min-width: 992px) and (max-width: 1200px) {
        width: $imgWidthLarge;
       height: $imgHeightLarge;
    } 
    @media (min-width: 1200px) {
        width: $imgWidthExtraLarge;
       height: $imgHeightExtraLarge;
    }
    
}

$userWidthExtraSmall: 23vw;
$userWidthSmall: 15vw;
$userWidthMiddle: 10vw;;
$userWidthLarge: 10vw;
$userWidthExtraLarge: 10vw;
$userHeightExtraSmall: 150px;
$userHeightSmall: 150px;
$userHeightMiddle: 150px;
$userHeightLarge: 150px;
$userHeightExtraLarge: 145px;

@mixin mediaSizeUsers {
    @media (max-width: 576px) { 
        width: $userWidthExtraSmall;
        height: $userHeightExtraSmall;
    } 
    @media (min-width: 576px) and (max-width: 768px) {
        width: $userWidthSmall;
       height: $userHeightSmall;
    }
    @media (min-width: 768px) and (max-width: 992px) {
        width: $userWidthMiddle;
       height: $userHeightMiddle;

    }
    @media (min-width: 992px) and (max-width: 1200px) {
        width: $userWidthLarge;
       height: $userHeightLarge;
    } 
    @media (min-width: 1200px) {
        width: $userWidthExtraLarge;
       height: $userHeightExtraLarge;
    }
}

$imgUserWidthExtraSmall: 100%;
$imgUserWidthSmall: 100%;
$imgUserWidthMiddle: 100%;
$imgUserWidthLarge: 96px;
$imgUserWidthExtraLarge: 96px;
$imgUserHeightExtraSmall: 96px;
$imgUserHeightSmall: 96px;
$imgUserHeightMiddle: 96px;
$imgUserHeightLarge: 96px;
$imgUserHeightExtraLarge: 96px;

@mixin mediaSizeImgUsers {
    @media (max-width: 576px) { 
        width: $imgUserWidthExtraSmall;
        height: $imgUserHeightExtraSmall;
    } 
    @media (min-width: 576px) and (max-width: 768px) {
        width: $imgUserWidthSmall;
       height: $imgUserHeightSmall;
    }
    @media (min-width: 768px) and (max-width: 992px) {
        width: $imgUserWidthMiddle;
       height: $imgUserHeightMiddle;

    }
    @media (min-width: 992px) and (max-width: 1200px) {
        width: $imgUserWidthLarge;
       height: $imgUserHeightLarge;
    } 
    @media (min-width: 1200px) {
        width: $imgUserWidthExtraLarge;
       height: $imgUserHeightExtraLarge;
    }
    
}
