@import '../styleConstants.scss';
.footer {
    display: flex;
    z-index: $headerFooterZ;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    position: fixed;
    bottom: 0;
    background-color: $elementColor;
    margin-bottom: 0.5rem;
    border-bottom: 0.1rem solid $elementBorderColor;
    padding: 0.5rem 0;
    &__switch {
        span {
            margin-right: 0.5rem;
        }
    }
    &Dark {
        @include darkContent;
    }
    
    @include mediaPadding;

}