@import '../styleConstants.scss';

.userCard {
    display: flex;
    box-sizing: content-box;
    background-color: $elementColor;
    border: 0.1rem solid $elementBorderColor;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: $contentBorderRadius;
    margin: 0.4rem;
    padding: 1rem;
    &__user {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.4rem;
    }
    &__userImage {
        margin: 0;
    img {
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
}
    &__userDesc {
        display: flex;
        justify-content: center;
        margin-left: 0.5rem;
    }
    &__userName {
        display: flex;
        text-align: center;
    }
    &__userDate {
        color: gray;
    }
    &__image {
        object-fit: cover;
        background-color: $backColor;
        border-radius: $contentBorderRadius;
        margin-bottom: 0.3rem;
        @include mediaSizeImgUsers;
    }
    &__desc {
        color: inherit;
    }
    &Dark{
        @include darkContent;
    }
    a {
        color: inherit;
    }
    @include mediaSizeUsers;
}