.postComments {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    max-height: 220px;
    overflow-y: auto;
}

.postComments .scroller {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: hidden;
}